:root {
  font-size: 110%;
  line-height: 1.4;
  font-family: 'GerstnerProgWebRegular';
  text-rendering: optimizeLegibility;
  --red: #909090;
  --header-fg: black;
  --white: rgb(235, 235, 235);
  --black: #000000;
  --button-bg-green: rgb(80, 220, 130);
  --button-bg-blue: rgb(80, 130, 220);
  --button-bg-red: rgb(220, 80, 80);
}

* {
  box-sizing: border-box;
}

body {
  color: var(--black);
  background: var(--white);
}

div#content {
  /* container for header, main and footer
  mainly for background against rodeo-pic
  */
  padding: 0;
  background: var(--white);
  margin-top: var(--content-margin-top);
  position: relative;
  width: 100%;
}

aside#rodeo-pic {
  height: 100vh; /* fallback */
  height: var(--rodeo-pic-height);
  /* background: url(/assets/img/rodeo.jpg); */
  /* background: url(/assets/im/logog/Key_graphic_rodeo.jpg); */
  background: url(/assets/img/Schema.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

header,
main,
footer {
  background: var(--white);
  position: relative;
  padding: 0 1rem 0;
}

header {
  padding: 0.5rem 0;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto;
}

#content.got-to-top {
  position: absolute;
  top: 0;
  padding-top: var(--header-height);
  margin: 0;
}

.got-to-top header {
  position: fixed;
  top: 0;
  z-index: 100;
}
.got-to-top main {
  position: relative;
  top: var(--header-height);
  top: 0;
}

header,
header #header-logo {
  /* background: var(--white); */
  background: white;
}
header #header-logo rect,
header #header-logo path {
  fill: var(--black);
}

/* .scrolling-up { top:  0; } */
/* .scrolling-down { top: -300px; } */
header img {
  grid-column: 1/-1;
  grid-row: 1;
}

header h1 {
  transform: translateY(-1000px);
  display: none;
  font-size: 2rem;
  color: var(--red);
  font-family: 'GerstnerProgWebMedium';
  margin: 0;
}

header a {
  text-decoration: none;
}

a {
  color: unset;
}

.deutsch {
  /* default: english */
  display: none;
}

#language-switch {
  display: inline-block;
  display: none;
  padding: 0 1rem;
  align-self: center;
  text-align: right;
  grid-column: 2/-1;
  grid-row: 1;
  position: relative;
  top: 0.25rem;
  cursor: pointer;
  color: var(--black);
  transform: translateY(-0.15rem);
}

#language-selection {
  margin: 0;
}
#language-selection a {
  display: none;
}
#language-selection a.active {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin-bottom: 1.5rem;
}

ul,
ol {
  padding-left: 0.875rem;
}

.upper {
  text-transform: uppercase;
}

.no-list {
  list-style: none;
  padding: 0;
}

h2 {
  font-family: 'GerstnerProgWebMedium';
  font-size: 0.75rem;
  text-transform: uppercase;
  font-feature-settings: 'cpsp' on, 'case' on;
  border-top: var(--black) solid 1px;
  margin-top: 3.6rem;
  padding-top: 0.3rem;
  letter-spacing: 0.05rem;
  /* color: var(--red); */
  color: var(--red);
}

hr {
  border: none;
  border: var(--black) solid 0.5px;
}

p,
li {
  letter-spacing: 0.025rem;
}


.border-p, .border-small {
  border-top: var(--black) solid 1px;
  padding-top: 0.5rem;
}

/* 29.5.25, mittelachse */
article h2 {
  text-align: center;
}

em,
i {
  font-family: 'GerstnerProgWebItalic';
}

.spaced-out {
  letter-spacing: 0.25rem;
}
.centered {
  text-align: center;
}

.lead {
  border-top: 1px solid var(--black);
  padding-top: 1rem;
  margin-top: 3rem;
  font-size: 2rem;
  line-height: 1.2;
  color: var(--red);
  text-align: center;
  hyphens: manual;
}

.border-p { margin-top: 3rem; }

.lead:first-of-type {
  padding-top: 2rem;
  font-size: 1.5rem;
  border-top: none;
}

p + .lead,
ul + .lead {
  padding-top: 2rem;
}

.partner-list {
  font-size: 1.25rem;
  line-height: 1.4;
  color: var(--red);
}

.align-left {
  text-align: left;
}

/* h2 + .lead, */
/* h2 + .partner-list { */
  /* border-top: none; */
  /* padding-top: 0; */
/* } */

footer,
.small {
  font-size: 0.75rem;
  line-height: 1.4;
  letter-spacing: 0.05rem;
}

.half-pixel-spacing {
  letter-spacing: 0.03215rem;
}

footer {
  padding-bottom: var(--slider-height);
}

footer #footer-links {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

.inline-icon {
  height: 1.25rem;
  width: auto;
  display: inline;
  margin-right: 0.25rem;
  border: none;
  position: relative;
  top: 0.25rem;
}

.partner-logos {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 0;
}

.partner-logo {
  min-width: 40vw;
  max-width: 50vw;
  margin: 0;
  position: relative;
  left: -1vw;
  transform-origin: 0% 0%;
  transform: scale(1.2);
}

.partner-logo img { margin: 0; padding: 0; }

footer a {
  text-decoration: none;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 0.3rem 0 0.1rem;
  margin: 0 auto 1rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
}
.blue-button { background-color: var(--button-bg-blue); }
.red-button { background-color: var(--button-bg-red); }
.green-button { background-color: var(--button-bg-green); }
.button-text {
  color: white;
  margin: 0;
      font-family: "GerstnerProgWebLight";
      letter-spacing: 0.0625rem;
}

#examples {
  /* Bild-Leiste */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transform: translateY(var(--examples-offset));
  transition: transform 0.4s ease-in;
  opacity: 0;
}

.got-to-top #examples {
  /* show slider when header hits top */
  transform: translateY(0);
  display: block;
  opacity: 1;
}

#slider {
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  /* min-height: 17vh; fallback */
  height: calc(var(--slider-height) + 1.25rem); /* account for borders */
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-start;
  /* border-top: 0.75rem solid var(--white); */
  /* border-top: 1px solid white; */
  /* background: var(--white); */
  background: white;
}

.slider-item {
  /*min-width: 30vw;*/ /* bestimmt Höhe! */
  /* abgeschaltet 20. juni, weil breitformate angeschnitten */
  /* dafür springts jetzt */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* border-right: 0.75rem solid var(--white);
  border-bottom: 0.75rem solid var(--white); */
  border-right: 0.75rem solid white;
  border-bottom: 0.75rem solid white;
}

.slider-item img {
  /* preserve aspect ratio */
  width: 100%; /* Fallback */
  height: auto; /* Fallback */
  /* height: 100%; */
  width: var(--img-width);
  height: var(--img-height);
  user-select: none; /* mühsames Geflacker in iOS Simulator */
}

img.landscape {
  border: 1px solid red;
}

aside#desktop-nothing {
  display: none;
}

/*

@media (min-width: 800px) {
  body {
    background: none;
    height: 100vh;
  }

  aside#rodeo-pic,
  header,
  main,
  footer,
  #examples {
    display: none;
  }

  div#content {
    margin-top: 0;
  }

  aside#desktop-nothing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 200%;
  }
  aside#desktop-nothing #qr-code {
    display: inline-block;
    transform-origin: center;
    transform: rotate(45deg);
    width: 25vw;
    height: 25vw;
    margin-bottom: 5rem;
  }

  aside#desktop-nothing #wortmarke {
    width: 30vw;
    transform: translateX(1.5vw);
  }
  aside#desktop-nothing #desktop-logo path {
    fill: var(--black);
  }
}
*/
@media (min-width: 800px) {
  :root {
    font-size: 140%;
  }
  header,
  footer,
  main {
    width: 70vw;
    margin: 0 auto;
  }
  header {
    width: 100%;
    max-width: 100vw;
  }
  body {
    /* background: black; */
    /* rodeoPic.style.background = 'black' main.js, 60 */
  }
  aside#rodeo-pic {
    left: auto;
    margin: 0 auto; /* Greift aus unerklärlichen gründen nicht. */
    /* left: 20vw; */
  }
  div#content {
    /* background: black; */
  }
  #content.got-to-top {
    position: relative;
    margin: 0 auto;
  }
  header {
    padding: 0;
  }
  header #header-logo {
    height: 60px;
  }

  #text-column {
    padding-bottom: 1rem; /* nur nötig, wenn hintergrund dunkel */
  }

article p {
  text-align: center;
}
article p.lead {
  font-family: "GerstnerProgWebRegular";
}

.partner-logo {
  min-width: 15vw;
  width: 16vw;
  /* max-width: 15vw; */
}

footer p:last-of-type,
article p:not(lead) {
  font-family: "GerstnerProgWebLight";
  letter-spacing: 0.03125rem;
}

section.buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

svg * {
  fill: red;
}
  /*
    sobald content oben anschlägt, kriegt er die Klasse «got-to-top» und wird absolut positioniert.
  */
}
