:root {
  font-size: 110%;
  line-height: 1.3;
  font-family: "GerstnerProgWebRegular";
  --red: #cc3333;
  --white: #fff;
  --black: #333;
}

body {
  background: var(--black);
  color: var(--white);
  padding: 0.5rem 1rem 25vh; /* fallback */
  padding: 0.5rem 1rem var(--slider-height);
}

header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 2rem;
  color: var(--red);
  font-family: "GerstnerProgWebMedium";
}

header a { text-decoration: none; }

a { color: unset; }

.language-divider {margin: 0 0.875rem; }

h1, h2, h3, h4, h5, h6,
p, ul, ol, blockquote {
  margin-bottom: 1rem;
}

ul, ol {
  padding-left: 0.875rem;
}

.no-list {
  list-style: none;
  padding: 0;
}

h2 {
  font-family: "GerstnerProgWebMedium";
  font-size: 0.75rem;
  text-transform: uppercase;
  font-feature-settings: 'cpsp' on, 'case' on;
  border-top: var(--red) solid 1px;
  margin-top: 1.5rem;
  padding-top: 0.3rem;
  letter-spacing: 0.05rem;
  color: var(--white);
}

p, li { letter-spacing: 0.025rem; }

em, i {
    font-family: "GerstnerProgWebItalic";
}

.lead {
  font-size: 1.25rem;
  line-height: 1.2;
  color: var(--red);
}

footer, .small {
  font-size: 0.75rem;
  line-height: 1.2;
  letter-spacing: 0.05rem;
}

#examples {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#slider {
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 25vh; /* fallback */
  height: var(--slider-height);
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  border-top: 0.75rem solid var(--black);
}

.slider-item {
  min-width: 40vw; /* bestimmt Höhe! */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-right: 0.75rem solid var(--black);
  border-bottom: 0.75rem solid var(--black);
}

img { width: 100%; }

aside#desktop-nothing { display: none; }

@media (min-width: 800px) {
  header, main, footer, #examples { display: none;}
  aside#desktop-nothing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0; left: 0;
    font-size: 200%;
  }

}

